#main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 53%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    
}